annotated-types
anyio
certifi
cycler
distro
dnspython
fonttools
h11
httpcore
httpx
idna
jiter
numpy
openai
packaging
pandas
pillow
pydantic
pydantic_core
pymongo
pyparsing
python-dateutil
python-dotenv
python-telegram-bot
pytz
six
sniffio
tqdm
typing_extensions
tzdata
colorama
contourpy
kiwisolver
matplotlib
